/* Reset and Box Sizing */
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Basic Reset for HTML and Body */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Open Sans', sans-serif !important;
}

/* Style for Header */
header {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: #032d42;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-bottom: 40px;
}

.logo-container {
    margin-right: 15px;
}

.logo-container img {
    max-width: 200px;
    height: auto;
}

.header-title {
    font-size: 1.5em;
}

.survey-title {
    text-align: center;
    font-size: 2rem;
}
/* Main Content Styles */
body {
    font-size: 14px; /* Standard font size for desktop */
    background-color: #f4f4f4;
    overflow: auto; /* Allow scrolling */
}

#survey-container {
    margin: 10px auto;
    max-width: 600px;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 4px;
    margin-bottom: 80px; /* Space for 'Complete' button */
}

.yes-no {
    display: flex;
    margin-bottom: 36px;
    overflow: hidden;
}

.yes-no input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.yes-no label {
    background-color: #e4e4e4;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    line-height: 1;
    text-align: center;
    padding: 8px 16px;
    margin-right: -1px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    transition: all 0.1s ease-in-out;
}

.yes-no label:hover {
    cursor: pointer;
}

.yes-no input:checked + label {
    background-color: #a5dc86;
    box-shadow: none;
}

.question.select-question input {
    width: 100%; /* Full width of the container */
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.question.select-question datalist {
    /* Styles to ensure alignment with the input */
    width: 100%;
    max-height: 100px;
    overflow-y: auto;
}
datalist {
    max-height: 100px;
    overflow-y: auto;
}


/* Desktop Styles */
@media only screen and (min-width: 601px) {
    .question-title {
        font-size: 1.2em;
    }
    .choice-text {
        font-size: 0.8em;
    }
}

/* Media Query for Mobile Screens */
@media only screen and (max-width: 600px) {
    body {
        font-size: 18px; /* Larger font size for mobile */
    }

    #survey-container {
        width: calc(100% - 1rem);
        margin: 0.5rem auto;
        box-shadow: none;
        border-radius: 0;
    }

    .question-title {
        font-size: 1.2em;
    }

    .choice-text {
        font-size: 1.1em;
    }
}

/* Input and Textarea Styles */
input, textarea {
    font-family: inherit;
    width: calc(100% - 16px);
    padding: 8px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1em;
    box-sizing: border-box;
}

/* Styles for Question and Ranking Items */
.question {
    font-weight: normal;
    background-color: #fff;
    margin-bottom: 20px;
}

.question-number {
    font-weight: bold;
}

.question-title {
    font-size: 1.2em;
    color: #1d1d1d;
    margin-bottom: 10px;
}

.ranking-list {
    padding: 0;
    margin: 0;
}

.ranking-item {
    display: flex;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: grab;
}

.drag-icon {
    margin-right: 10px;
    font-weight: bold;
    color: #1d1d1d;
    font-size: 1.5em;
    cursor: grab;
}

.index {
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 50%;
    background-color: #61D84E;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

/* Complete Button Container and Button Styles */
.button-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: right;
    background-color: white;
    padding: 10px 20px;
 
}
.complete-button {
    padding: 10px 20px;
    background-color: #61D84E; /* Green background */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}

.complete-button:hover {
    background-color: #529c41; /* Darker green on hover for visual feedback */
}

.thank-you-container {
    text-align: center;
    padding: 20px;
    max-width: 600px;
    margin: 50px auto;
}

.thank-you-container h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.thank-you-container p {
    font-size: 1em;
    margin-bottom: 30px;
}

.thank-you-container .button-container {
    display: flex;
    justify-content: center;
}

.thank-you-container .button-container .secondary-button {
    margin-right: 10px;
    background-color: #ccc; 
}

.thank-you-container .button-container .primary-button {
    background-color: #61D84E; 
}